@model  SchoolManagementSystem.Domain.Entities.Day

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Day</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.day_id)

        <div class="form-group">
            @Html.LabelFor(model => model.days, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.days)
                @Html.ValidationMessageFor(model => model.days)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.subject_id, "subject_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("subject_id", String.Empty)
                @Html.ValidationMessageFor(model => model.subject_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.room_id, "room_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("room_id", String.Empty)
                @Html.ValidationMessageFor(model => model.room_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.compus_id, "compus_id", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("compus_id", String.Empty)
                @Html.ValidationMessageFor(model => model.compus_id)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.time, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.time)
                @Html.ValidationMessageFor(model => model.time)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
