@model SchoolManagementSystem.Domain.Entities.Payment

@{
    ViewBag.Title = "Payment Details";
    Layout = "~/Views/Secretary/SecretaryLayout.cshtml";
}

<div>
    <h4>Payment Details</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Discipline_Id)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Discipline_Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_PIN)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student_PIN)
        </dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
