@model SchoolManagementSystem.Domain.Entities.Booking

@{
    ViewBag.Title = "Cancel Booking";
    Layout = "~/Views/Student/StudentLayout.cshtml";
}

<h2>Cancel Booking</h2>

<h3>Are you sure you want to Cancel Booking this?</h3>
<fieldset>
    <legend>Booking</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.UserName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.BookedEvent.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookedEvent.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookedEvent.EventDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookedEvent.EventDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BookTime)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BookTime)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Status)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Status)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
