@model IEnumerable<SchoolManagementSystem.Domain.Entities.Booking>

@{
    ViewBag.Title = "MyBookings";
    Layout = "~/Views/Student/StudentLayout.cshtml";
}

<h2>MyBookings</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedEvent.EventDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookedEvent.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedEvent.EventDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BookedEvent.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Bookingid }) |
            @Html.ActionLink("Details", "Details", new { id=item.Bookingid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Bookingid })
        </td>
    </tr>
}

</table>
