@model SchoolManagementSystem.Domain.Entities.Student

@{
    ViewBag.Title = "Deregister";
    Layout = "SecretaryLayout.cshtml";
}

<h2>Deregister</h2>

<h3>Are you sure you want to deregister this student?</h3>
<div>
    <h4>Student Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PIN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Province)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Province)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Surbs)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Surbs)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostalCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostalCode)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.ClassName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClassName)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.MobilePhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobilePhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nationality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nationality)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Religion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Religion)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deregister" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Students")
        </div>
    }
</div>
